<%-layout("/layouts/boilerplate.ejs") %>
<Div class="row">
    <br><br>
    <Div class="col-8 offset-2">
    <h3>CREATE LISTING</h3>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">title</label>
            <input name="listings[title]" 
                placeholder="Enter title" 
                type="text"
                required
                class="form-control">
            <div class="invalid-feedback">Enter Valid Title</div>
        </div>
        <div class="mb-3">      
            <label for="description" class="form-label">Description</label>  
            <textarea name="listings[description]"
                class="form-control"
                type="text"
                required
            >
            </textarea>
            <div class="invalid-feedback">Enter Valid Description</div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
                <input name="listings[image]" 
                    type="file"
                    class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-4">
                <label for="price" class="form-label">Price</label>
                <input  name="listings[price]" 
                    placeholder="enter price"  
                    class="form-control"
                    required>
                <div class="invalid-feedback">Enter Valid Price</div>
            </div>
            <div class="mb-3 col-8">
                <label for="country" class="form-label">Country</label>
                <input name="listings[country]" 
                    placeholder="enter country" 
                    type="text"
                    class="form-control"
                    required >
                <div class="invalid-feedback">Enter Country Name</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listings[location]" 
                placeholder="enter location" 
                type="text"   
                class="form-control"
                required  >
            <div class="invalid-feedback">Enter Location</div>
        </div><br>
        <button class="btn btn-dark">Add</button>
    </form>   
    </Div> 
</Div>